@font-face {
  font-family: "iconfont"; /* Project id 5100928 */
  src: url('iconfont.woff2?t=1768876346593') format('woff2'),
       url('iconfont.woff?t=1768876346593') format('woff'),
       url('iconfont.ttf?t=1768876346593') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-role:before {
  content: "\e616";
}

.icon-nursingservice:before {
  content: "\e60c";
}

.icon-personnel:before {
  content: "\e622";
}

.icon-goout:before {
  content: "\e640";
}

.icon-quanping:before {
  content: "\e7cf";
}

.icon-market:before {
  content: "\e604";
}

.icon-lingdang:before {
  content: "\e605";
}

.icon-temperature:before {
  content: "\e9ba";
}

.icon-housetype:before {
  content: "\e606";
}

.icon-sugar:before {
  content: "\e60e";
}

.icon-daxiaoxie:before {
  content: "\e624";
}

.icon-comfort:before {
  content: "\e60f";
}

.icon-hulixue-copy:before {
  content: "\e607";
}

.icon-dizhiguanli:before {
  content: "\e63f";
}

.icon-reserve:before {
  content: "\e611";
}

.icon-department:before {
  content: "\e64e";
}

.icon-nurse:before {
  content: "\e610";
}

.icon-hospitalized:before {
  content: "\e93e";
}

.icon-discharge:before {
  content: "\e954";
}

.icon-client:before {
  content: "\e625";
}

.icon-blood:before {
  content: "\e6f2";
}

.icon-jinyong:before {
  content: "\e613";
}

.icon-zxdj:before {
  content: "\e636";
}

.icon-doctor:before {
  content: "\e620";
}

.icon-house:before {
  content: "\e659";
}

.icon-icon-set:before {
  content: "\e7eb";
}

.icon-address:before {
  content: "\e65a";
}

.icon-nightwatch:before {
  content: "\e8ce";
}

.icon-post:before {
  content: "\e6a4";
}

.icon-building:before {
  content: "\e614";
}

.icon-config:before {
  content: "\e69a";
}

.icon-laundry:before {
  content: "\e8c8";
}

.icon-medicalcare:before {
  content: "\e850";
}

.icon-supplier:before {
  content: "\e615";
}

.icon-carer:before {
  content: "\e609";
}

.icon-register:before {
  content: "\e807";
}

.icon-wen-A:before {
  content: "\e60b";
}

.icon-purchase:before {
  content: "\e602";
}

.icon-file:before {
  content: "\e6d3";
}

.icon-wenben:before {
  content: "\e638";
}

.icon-user1:before {
  content: "\e678";
}

.icon-zhanghao:before {
  content: "\e617";
}

.icon-fenxi:before {
  content: "\e623";
}

.icon-bianji:before {
  content: "\e840";
}

.icon-shicai:before {
  content: "\e603";
}

.icon-chaxun:before {
  content: "\e6f7";
}

.icon-shuaxin:before {
  content: "\e650";
}

.icon-meals:before {
  content: "\e633";
}

.icon-set:before {
  content: "\e696";
}

.icon-staff:before {
  content: "\ea3c";
}

.icon-sy_act:before {
  content: "\e60a";
}

.icon-fenjigoulist:before {
  content: "\e61b";
}

.icon-you:before {
  content: "\e612";
}

.icon-shang:before {
  content: "\e63c";
}

.icon-xia:before {
  content: "\e63d";
}

.icon-zuo:before {
  content: "\e63e";
}

.icon-cheng:before {
  content: "\e635";
}

.icon-shanchu:before {
  content: "\e797";
}

.icon-jia:before {
  content: "\e7e8";
}

.icon-zhankai:before {
  content: "\e634";
}

.icon-oldy:before {
  content: "\100dd";
}

.icon-jigoulist:before {
  content: "\100de";
}

.icon-jigoulist-copy:before {
  content: "\100df";
}

.icon-shouji:before {
  content: "\e600";
}

.icon-weixin:before {
  content: "\e601";
}

.icon-jiesuo:before {
  content: "\e669";
}

.icon-icon-user:before {
  content: "\e677";
}

.icon-anquanzhongxin:before {
  content: "\e895";
}

.icon-QQ:before {
  content: "\e882";
}

.icon-bangong-jigou:before {
  content: "\e608";
}

.icon-guge:before {
  content: "\e619";
}

.icon-bed:before {
  content: "\e739";
}

.icon-shouye:before {
  content: "\e6cb";
}

.icon-fanyi:before {
  content: "\e65c";
}

