.el-container {
  min-height: 100vh;
  min-width: 100%;
}

.el-header {
  height: 100px;
  box-shadow: 0 6px 8px -4px rgba(0, 0, 0, 0.1);
}

.el-footer {
  box-shadow: 0 -6px 8px -4px rgba(0, 0, 0, 0.1);
  height: 80px;
  padding-top: 18px;
}

#Main {
  position: relative;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
  overflow: hidden;
}